<div class="navigationWrapper">
  <div class="logoWrapper">

  </div>

  <ul class="navigation">
    <img src="assets/images/R.png" alt="Your Logo" style="width: 10%;">



    <li class="home rrr"><a routerLink="/home" class="link">Home</a></li>
    <li class="products "><a *ngIf="this.authService.isLoggedIn" routerLink="/products" class="link">Liste des Produits</a></li>
  <li class="ecommerce "><a routerLink="/ecommerce" class="link">E-commerce Space</a></li>
  <li *ngIf="!this.authService.isLoggedIn" class="parent logout "><a routerLink="/login" class="link">Sign in</a></li>
  <button *ngIf="this.authService.isLoggedIn" (click)="logout()" type="button" class="btn btn-default logout ">Logout</button>



</ul>



</div>

<div class="container mt-5">
  <div class="mt-5">
    <router-outlet></router-outlet>
  </div>
</div>
